<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ printer_ip }}:{{ printer_port }}</title>
    <script src="{{ url_for('static', filename='code.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<img id="video_feed" src="http://{{ printer_ip }}:8080/?action=stream" alt="video from the printer">

<div class="container">

    <div id="temperature" class="element">
        <div class="header">Температура</div>
        <div class="content">
            <p>Экструдер: <span id="t0_current">???</span> C°/ <span id="t0_target">???</span> C°</p>
            <progress id="progress_extruder_t" value="0" max="0"></progress>
            <p>Постель: <span id="bed_t_current">???</span> C°/ <span id="bed_t_target">???</span> C°</p>
            <progress id="progress_bed_t" value="0" max="0"></progress>
        </div>
    </div>

    <div id="progress" class="element">
        <div class="header">Прогресс</div>
        <div class="content">
            <p>Слой: <span id="layer_current">???</span> из <span id="layer_target">???</span></p>
            <progress id="progress_layer" value="0" max="0"></progress>
            <p>Готовность: <span id="byte_current">???</span>%</p>
            <progress id="progress_percent" value="0" max="0"></progress>
        </div>
    </div>

    <div id="status" class="element">
        <div class="header">Прочее</div>
        <div class="content">
            <p>Статус: <span id="machine_status">???</span></p>
            <p>Режим: <span id="move_mode">???</span></p>
            <p>Файл: <span id="current_file">???</span></p>
        </div>
    </div>

</div>

<script>
    {
        eventLoop(
            {
                status: '{{ url_for("api.execute_command", printer_address=printer_address, command_name="status") }}',
                progress: '{{ url_for("api.execute_command", printer_address=printer_address, command_name="progress") }}',
                temperature: '{{ url_for("api.execute_command", printer_address=printer_address, command_name="temperature") }}',
                info: '{{ url_for("api.execute_command", printer_address=printer_address, command_name="info") }}',
            }
        )
    }
</script>

</body>
</html>
